* {
    margin: 0;
    font-family: "OpenSans", sans-serif;
}

/* typography */
h1 {
    font-size: 5.61rem;
}

h2 {
    font-size: 4.209rem;
}

h3 {
    font-size: 3.157rem;
}

h4 {
    font-size: 2.369rem;
}

h5 {
    font-size: 1.777rem;
}

h6 {
    font-size: 1.333rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
    text-decoration: none;
}


/* navbar */
.topnav {
    position: sticky;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 2rem;
    background-color: white;
    /* overflow: hidden; */
    /* horizontal excess navbar HELP */
}

.topnav a {
    padding: 2rem;
    text-align: center;
    color: rgb(70, 70, 70);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.topnav a:hover {
    background-color: rgb(220, 220, 220);
    transition: 0.5s;
}

.topnav a:active {
    background-color: rgb(220, 220, 220);
    /* not working, help pls */
}


/* footer */
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 2rem 5rem;
    padding-bottom: 4rem;
    background-color: white;
    /* excess width HELP  */
}

footer .right {
    float:right;
}

footer .left {
    float:left;
}

/* flexbox attempts */
.wrapper {
    display: flex;
    flex-direction: column;
    margin: 5rem 10rem;

}

.main {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.main img {
    width: 30%;
}

.main h2 {
    padding-left: 5rem;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article1,
.article2 {
    padding: 0rem 5rem;
}

.picks {
    display:flex;
    flex-direction: row;
}

.picks img {
    height: 20%;
}



body {
    background-color: aqua;
}